.question_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 60%;
}

.question_wrapper h3 {
    font-family: 'Bangers', cursive;
    font-size: 1.5rem;
    letter-spacing: 4px;
    color: #BA3B0A;

}

.options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

button {
    border-radius: 10px;
    height: 2rem;
    cursor: pointer;
    padding: 0 2rem;
    border: none;
    font-weight: bold;

}

.options button {}

.orange_btn {
    background-color: #BA3B0A;
    margin-top: 3rem;

    color: white;
}

.transparent_btn {
    background-color: transparent;
    font-family: 'Bangers', cursive;
    font-size: 1.7rem;
    letter-spacing: 4px;
    color: #BA3B0A;

}

.correct {
    background-color: rgba(4, 132, 4, 0.612);
    animation: pulse 1s infinite;

}

.incorrect {
    background-color: rgba(255, 0, 0, 0.388);
}

.pulse {
    animation: pulse 1s infinite;

}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}